@import "./common";

.emp-cell {
  position: relative;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  line-height: 1.4;
  font-size: 14px;
}

.emp-cell::after {
  @include hairline;
  border-bottom-width: 1px;
  left: 15px;
  right: 0;
}

.emp-cell-icon {
  margin-right: 5px;
}
.emp-cell-bd {
  flex: 1;
}
.emp-cell-text {
  line-height: 24px;
  font-size: 14px;
}
.emp-cell-desc {
  line-height: 1.2;
  font-size: 12px;
  color: #666;
}
.emp-cell-ft {
  position: relative;
  text-align: right;
  color: #666;
}
.emp-cell-no-pading {
  padding: 0;
}
.emp-cell-no-pading .emp-cell-bd-padding {
  padding: 12px 0 12px 15px;
}
.emp-cell-no-pading .emp-cell-bd-padding .emp-form-input {
  height: 26px;
}
.emp-cell-no-pading .emp-cell-ft-padding {
  padding: 12px 15px 12px 0;
}

.emp-cell-last-child::after,
.emp-cell:last-child::after {
  display: none;
}

.emp-cell-access .emp-cell-ft {
  padding-right: 13px;
}

.emp-cell-access .emp-cell-ft::after {
  position: absolute;
  top: 50%;
  right: 2px;
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8c8;
  border-style: solid;
  transform: translateY(-50%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.emp-cell-switch {
  padding-top: 6px;
  padding-bottom: 6px;
}
