@import './common';

.esp-c-red {
  color: $red !important;
}

.esp-c-gray {
  color: $gray !important;
}

.esp-c-gray-dark {
  color: $gray-dark !important;
}

.esp-c-gray-darker {
  color: $gray-darker !important;
}

.esp-c-black {
  color: $text-color !important;
}

.esp-c-blue {
  color: $blue !important;
}

.esp-c-green {
  color: $green !important;
}
